.App {
  text-align: justify;
}

.center-text
{
  width: 70%;
}

.rocket {
  pointer-events: none;
  font-size: 20vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .rocket {
    animation: rocket-flight infinite 5s ease-in-out;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes rocket-flight {
  from {
    -webkit-transform: translate(0) rotate(-45deg);
    -moz-transform: translate(0) rotate(-45deg);
    -ms-transform: translate(0) rotate(-45deg);
    -o-transform: translate(0) rotate(-45deg);
    transform: translate(0) rotate(-45deg);
  }
  to {
    -webkit-transform: translate(0, -400px) rotate(-45deg);
    -moz-transform: translate(0, -400px) rotate(-45deg);
    -ms-transform: translate(0, -400px) rotate(-45deg);
    -o-transform: translate(0, -400px) rotate(-45deg);
    transform: translate(0, -400px) rotate(-45deg);
  }
}
